html,
body {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
  background: #0b1220;
  color: #e5e7eb;
}

/* Smooth fonts */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Nice selection */
::selection {
  background: rgba(99, 102, 241, 0.35);
}

/* Remove default button outline weirdness */
button:focus {
  outline: none;
}

select {
  color-scheme: dark;
}

